<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="/images/footer_logo.svg" alt="Logo image">
  </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href='/sponsorship'>Sponsorship</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="/"></a></li>
        <li><a href="/"></a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/barcampbirmingham">
          <img src="/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="https://twitter.com/barcampbham">
          <img src="/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="/">
          <img src="/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>
