---
title: Birmingham Barcamp | Contact
---
<section>
  <div class="next-date">
    <h2>
      Contact
    </h2>
    <h3>
      <a href='https://twitter.com/barcampbham'>
        @barcampbham
      </a>
      on twitter.
    </h3>
  </div>
</section>
