---
title: Birmingham Barcamp | Home  
---
<%= partial "partials/index/informative" %>
<%= partial "partials/index/schedule" %>
<div class="grid-items-lines">
      <%= partial "partials/index/sponsor_list" %>
</div>
