<header>
  <div class="hero">
    <div class="hero-inner">
      <%= image_tag 'logo.png', class: "hero-logo" %>

      <div class="hero-copy">
        <h1>Saturday, April 18</h1>
        <h2>9:00am-6:00pm</h2>
        <p>Join BarCamp Birmingham for another year of knowledge sharing and cooperative learning.</p>
      </div>

      <button>Event Registration</button>
    </div>
  </div>
</header>
