<section>
  <div class="next-date">
    <h2>Saturday, April 18</h2>
    <h3>9:00am-6:00pm - Location TBD</h3>
    <p><b>BarCamp is Birmingham's geek unconference, organized on the fly by attendees, for attendees.</b><br>The event is free and open to anyone, but you don't just attend a BarCamp — you can host or participate in discussions, demo your projects, and meet other techie, geeky people like you.</p>
    <button>Registration Opening Soon!</button>
  </div>
</section>
<section>
  <div class="video-container">
    <h2>Video</h2>
    <div class='responsive-wrapper'>
      <iframe class='youtube-video' width="100%" height="100%" src="//www.youtube.com/embed/n6-BVIPL6a4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="map-container">
    <h2>Map</h2>
    <div id="map"></div>
  </div>
</section>
