<section>
  <div class="full-container">
    <h2>Schedule</h2>
    <table>
      <tbody>
        <tr>
          <th>TIME</th>
          <th>EVENT</th>
        </tr>
        <tr>
          <td>9:00am</td>
          <td>Doors open, sign up starts for giving talks</td>
        </tr>
        <tr>
          <td>10:00am</td>
          <td>Talks begin at all venues. Each presentation will last 25 minutes (we recommend leaving 5 minutes at the end for discussion)</td>
        </tr>
        <tr>
          <td>12:00pm</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>1:00pm</td>
          <td>Talks Resume</td>
        </tr>
        <tr>
          <td>6:00pm</td>
          <td>BarCamp ends and the after party starts at TBA</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

