<section>
  <div class="full-container">
    <h1>Sponsorship</h1>
    <p>Sponsoring BarCamp is a great way to support Birmingham’s vibrant tech and creative community.</p>
    <p>We accept contributions in any amount, but the following is suggested:</p>
    <ul>
      <li>$250 – Silver Level</li>
      <li>$500 – Gold Level</li>
    </ul>
    <br>
    <p>We recognize sponsors in the following ways:</p>
    <p><b>Gold</b></p>
    <ul>
      <li>logo, link and description on BarCamp website under Gold</li>
      <li>recognition in social media and email to BarCamp attendees</li>
      <li>company signs at registration area at the event</li>
      <li>Logo on T-shirt (provided enough funds)</li>
    </ul>
    <br>
    <p><b>Silver</b></p>
    <ul>
      <li>logo, link and description on BarCamp website under Silver</li>
      <li>recognition in social media and email to BarCamp attendees</li>
      <li>company name on T-shirt (provided enough funds)</li>
    </ul>
    <br>
    <p><b>In-kind sponsorship: You can also sponsor specific event functions</b></p>
    <ul>
      <li>catering lunch</li>
      <li>coffee and snacks for breakfast</li>
      <li>and more...</li>
    </ul> 
    <br>
    <p>We also encourage sponsors to attend and fully participate in BarCamp. There is no better way to be noticed by our community.</p>
    <div class="grid-items-lines">
      <%= partial "partials/index/sponsor_list" %>
    </div>
</div>
  </div>
</section>
