<a href="http://www.isotope11.com/" class="grid-item">
  <img src="images/isotope_eleven.png" alt="">
  <p>Site Design</p>
</a>
<a href="http://www.daxko.com/" class="grid-item">
  <img src="images/daxko_webonly.png" alt="">
  <p>Venue Provide by</p>
</a>
<a href="javascript:void(0)" class="grid-item">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
  <h1></h1>
  <p>Your Logo Here! See sponsor tab</p>
</a>
